<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common::headflagment">
</head>
<body>
  <header th:replace="common::headerflagment">
  </header>
  <main>
    <div class="admin_wrapper">
      <div class="admin_title">
        <h2>Hello!&nbsp;Administrator</h2>
      </div>
      <div class="admin_menu">
        <a th:href="@{/admin/unapprovedList}">
          <img th:src="@{/images/authorize.png}" alt="">
          <p>承認</p>
        </a>
        <a th:href="@{/admin/postList}">
          <img th:src="@{/images/list_icon.png}" alt="">
          <p>一覧を確認</p>
        </a>
      </div>
    </div>
  </main>
</body>
</html>
