<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common::headflagment">
</head>
<body>
  <header th:replace="common::headerflagment">
  </header>
  <main>
    <div class="comp_wrapper">
      <div class="comp_title">
        <h2>Upload&nbsp;completed!</h2>
      </div>
      <div class="comp_text">
        <p>管理者承認後、サイトに反映されます。</p>
      </div>
      <a th:href="@{/}" class="comp_btn">
        <img th:src="@{/images/home.png}">
        <p>HOME</p>
      </a>
    </div>
  </main>
</body>
</html>
