<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common::headflagment">
</head>
<body>
  <header th:replace="common::headerflagment">
  </header>
  <main>
    <div class="login_wrapper">
      <div class="login_title">
        <h2>FrontCode</h2>
      </div>
      <div class="errorText">
        <table>
          <tbody>
            <tr th:if="${validationError}" th:each="error : ${validationError}">
                <td style="" th:text="${error}"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="login_form">
        <form class="form-signin" th:action="@{/accountRegist}" method="post" th:object="${account}">
          <div class="login_input">
            <input type="text" th:field="*{username}" placeholder="USERNAME" required autofocus>
            <input type="password" th:field="*{password}" placeholder="PASSWORD" required>
            <input type="email" th:field="*{mail}" placeholder="E-MAIL" required>
          </div>
          <button class="btn " type="submit">
            <img th:src="@{/images/click_icon.png}" alt="">
            <p>CREATE</p>
          </button>
        </form>
      </div>
    </div>
  </main>
</body>
</html>
