<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <title>フロントコード</title>
  <!-- シンタックスハイライトのテーマは以下URLを確認
      https://highlightjs.org/static/demo/
 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/atom-one-dark.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
  <header>
    <div class="logo">
      <a th:href="@{/}">
        <img th:src="@{/images/home.png}" alt="home">
      </a>
      <a th:href="@{/admin}">
        <img th:src="@{/images/setting_icon.png}" alt="home">
      </a>
    </div>
  </header>
  <main>
    <div class="deleteView_wrapper">
      <div class="deleteView_title">
        <h2>DELETE</h2>
      </div>
      <div class="deleteView_select">
        <p>TYPE</p>
        <p th:text="${typename}"></p>
      </div>
      <div class="deleteView_html">
        <p>HTML</p>
        <pre><code class="html" th:text="${htmlsrc}"></code></pre>
      </div>
      <div class="deleteView_css">
        <p>CSS</p>
        <pre><code class="css" th:text="${csssrc}"></code></pre>
      </div>
      <div class="deleteView_js">
        <p>JS</p>
        <pre><code class="js" th:text="${jssrc}"></code></pre>
      </div>
    </div>
    <div class="deleteView_form">
      <form method="post" th:action="@{/manageDelete}">
        <a th:href="@{/listView}" class="btn delete_btn">
          <img th:src="@{/images/back_icon.png}" alt="">
          <p>Back!</p>
        </a>
        <button class="btn" type="submit">
          <img th:src="@{/images/dust_icon.png}" alt="">
          <p>Delete!</p>
        </button>
        <div class="manage_hidden">
          <input name="postidForDelete" type="text" th:value="${postid}">
        </div>
      </form>
    </div>
  </main>
</body>
</html>
