<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common::headflagment">
</head>
<body>
  <header th:replace="common::headerflagment">
  </header>
  <main>
    <div class="error_wrapper">
      <div class="error_title">
        <h2>ERROR</h2>
      </div>
      <div class="error_text">
        <p th:text="${errorMessage}"></p>
      </div>
      <a class="btn" th:href="@{/}">
        <img th:src="@{/images/home.png}" alt="">
        <p>HOME</p>
      </a>
    </div>
  </main>
</body>
</html>
