<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/script.js}"></script>
  <title>フロントコード</title>
  <!-- シンタックスハイライトのテーマは以下URLを確認
      https://highlightjs.org/static/demo/
 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/atom-one-dark.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
  <header>
    <div class="logo">
      <a th:href="@{/}">
        <img th:src="@{/images/home.png}" alt="home">
      </a>
      <a th:href="@{/login}" sec:authorize="isAnonymous()">
          <img th:src="@{/images/login_icon.png}" alt="home">
      </a>
      <form role="form" id="logout" th:action="@{/logout}" method="post" sec:authorize="hasAnyRole('ADMIN','USER')">
	    <input type="image" th:src="@{/images/logout_icon.png}" />
      </form>
      <a th:href="@{/admin}" sec:authorize="hasRole('ADMIN')">
          <img th:src="@{/images/setting_icon.png}" alt="home">
      </a>

    </div>
    <div class="nav_wrapper">
      <label class="nav_btn" for="nav_check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
  </header>
  <main>
    <div class="content_wrapper">
      <input id="nav_check" type="checkbox">
      <div class="sidebar">
        <!------------------------------------->
        <!-- サイドバー -->
        <!------------------------------------->
        <!-- plus -->
        <label class="side_menu side_active">
          <div class="add_wrapper">
            <img th:src="@{/images/plus_icon.png}" alt="">
          </div>
        </label>
        <!-- アプリケーション説明ページ -->
        <label class="side_menu">
          <div class="side_menu_text">
            <p>HOW&nbsp;TO</p>
            <p>使い方</p>
          </div>
          <img th:src="@{/images/arrow_right.png}" alt="arrowRight">
        </label>
        <!-------------------------------->
        <!-- for文 -->
        <!-------------------------------->
        <div class="side_menu_for" th:each="sideobj:${typedbList}">
          <!-- button -->
          <label class="side_menu">
            <div class="side_menu_text">
              <p th:text="${sideobj.typename}"></p>
              <p th:text="${sideobj.typenamejp}"></p>
            </div>
            <img th:src="@{/images/arrow_right.png}" alt="arrowRight">
          </label>
        </div>
      </div>
      <div class="main_content_wrapper">
        <!-- パーツ追加画面 -->
        <div class="main_content main_show">
          <div class="addItems_title">
            <h2>UPLOAD</h2>
          </div>
          <div class="errorText">
            <table>
              <tbody>
                <tr th:if="${validationError}" th:each="error : ${validationError}">
                    <td style="" th:text="${error}"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="addItems_input_wrapper">
            <form method="post" th:action="@{/upload}" th:object="${uploadForm}">
              <div class="addItems_typeSelect">
                <img th:src="@{/images/click_icon.png}" alt="">
                <select th:field="*{typeSelectValue}">
                  <option value="" hidden>SELECT...</option>
                  <option th:each="typedboption:${typedbList}" th:value="${typedboption.typeid}" th:text="${typedboption.typenamejp}"></option>
                </select>
              </div>
              <div class="addItems_htmlForm">
                <textarea th:field="*{htmlInputText}" placeholder="html"></textarea>
              </div>
              <div class="addItems_cssForm">
                <textarea th:field="*{cssInputText}" placeholder="css"></textarea>
              </div>
              <button class="btn" type="submit">
                <img th:src="@{/images/check_icon.png}" alt="">
                <p>Check!</p>
              </button>
            </form>
          </div>
        </div>
        <div class="main_content">
          <div class="instruct_title">
            <h2>HOW&nbsp;TO</h2>
          </div>
          <div class="howto_wrapper">
            <div class="howto_label">
              <div class="howto_btn">
                <p id="howto_download_toggle">ファイルダウンロードについて<span class="arror_right"></span></p>
                <div class="howto_content">
                  <img src="./images/gallery_7.jpg" alt="">
                  <p>ファイルをダウンロードして動作確認ができます。</p>
                  <p>ダウンロードボタンを押すとzipファイルがダウンロードされます。</p>
                </div>
              </div>
              <div class="howto_btn">
                <p id="howto_upload_toggle">ファイルアップロードについて<span class="arror_right"></span></p>
                <div class="howto_content">
                  <p>よく使うデザインパーツをアップロードして、いつでも使えるようにしておきましょう。</p>
                  <p>①パーツ種別を選択</p>
                  <p>②HTMLコードを入力</p>
                  <p>③CSSコードを入力</p>
                  <p>管理者の承認後、サイトに反映されます。</p>
                  <p>※javascriptや外部サイトへのリンクは入力できないようになっております。</p>
                </div>
              </div>
              <div class="howto_btn">
                <p id="howto_future_toggle">追加予定の機能について<span class="arror_right"></span></p>
                <div class="howto_content">
                  <p>○お気に入り機能</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-------------------------------->
        <!-- for文 -->
        <!-------------------------------->
        <div class="main_content_for" th:each="contentobj:${typedbList}">
          <!-- Map<Integer,Map<Integer,List<String>>> -->
          <div class="main_content" th:each="initMapObj:${initMap}">
            <!-------------------------------->
            <!-- for文 -->
            <!-------------------------------->
            <th:block th:if="${initMapObj.value != null}">
            <div class="typenameTitle">
              <h2 th:text="${contentobj.typename}"></h2>
            </div>
            <div class="content_frame_for" th:each="codepartobj:${initMapObj.value}">
              <div class="content_frame_wrapper">
                <div class="content_frame">
                  <!-- タブヘッダー -->
                  <div class="content_header">
                    <!-- ダウンロードボタン -->
                    <div class="download_btn">
                      <a th:href="@{${codepartobj.value[3]}}">
                        <img th:src="@{/images/download_icon.png}" alt="">
                      </a>
                    </div>
                    <!-- タブメニュー -->
                    <label class="tab_menu active">View</label>
                    <label class="tab_menu">HTML</label>
                    <label class="tab_menu">CSS</label>
                  </div>
                  <div class="content_space">
                    <!-- VIEWタブ -->
                    <div class="content_area show content_view">
                      <iframe th:src="@{${codepartobj.value[2]}}" frameborder="0"></iframe>
                    </div>
                    <!-- HTMLタブ -->
                    <div class="content_area content_html">
                      <pre><code class="html" th:text="${codepartobj.value[0]}"></code></pre>
                    </div>
                    <!-- CSSタブ -->
                    <div class="content_area content_css">
                      <pre><code class="css" th:text="${codepartobj.value[1]}"></code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </th:block>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
