<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common::headflagment">
</head>
<body>
  <header th:replace="common::headerflagment">
  </header>
  <main>
    <div class="content_wrapper">
      <!-- サイドメニュー -->
      <div th:replace="common::sidemenu_flagment"></div>

      <!-- メインコンテンツ -->
      <div class="main_content_wrapper">
        <!-- パーツ追加画面 -->
        <div class="main_content main_show">
          <div class="addItems_title">
            <h2>UPLOAD</h2>
          </div>
          <!-- バリデーションエラーメッセージ -->
          <div class="errorText">
            <table>
              <tbody>
                <tr th:if="${validationError}" th:each="error : ${validationError}">
                    <td style="" th:text="${error}"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="addItems_input_wrapper">
            <form id="addItems_form" method="post" th:action="@{/upload}" th:object="${uploadForm}">
              <div class="addItems_typeSelect">
                <img th:src="@{/images/click_icon.png}" alt="">
                <select th:field="*{typeSelectValue}">
                  <option value="" hidden>SELECT...</option>
                  <option th:each="typedboption:${typedbList}" th:value="${typedboption.typeid}" th:text="${typedboption.typenamejp}"></option>
                </select>
              </div>
              <div class="addItems_htmlForm">
                <textarea th:field="*{htmlInputText}" placeholder="ex.<h1>test</h1>..."></textarea>
              </div>
              <div class="addItems_cssForm">
                <textarea th:field="*{cssInputText}" placeholder="ex.h1{font-size:12px;}..."></textarea>
              </div>
              <div class="addItems_iframe">
                <iframe id="addItems_iframe_content" frameborder="0" sandbox></iframe>
              </div>
              <button class="btn" type="submit">
                <img th:src="@{/images/check_icon.png}" alt="">
                <p>Check!</p>
              </button>
            </form>
          </div>
        </div>
        <!-- アプリについて -->
        <div class="main_content">
          <div class="instruct_title">
            <h2>ABOUT</h2>
          </div>
          <div class="howto_wrapper">
            <div class="howto_label">
              <div class="howto_btn">
                <div class="howto_title" id="howto_download_toggle">
                  <p >ファイルダウンロードについて</p>
                  <img th:src="@{/images/arrowbottom_icon.png}" alt="">
                </div>
                <div class="howto_content">
                  <p>htmlファイルをダウンロードして動作が確認できます。</p>
                  <img th:src="@{/images/about_dowload.png}" alt="">
                </div>
              </div>
              <div class="howto_btn">
                <div class="howto_title" id="howto_upload_toggle">
                  <p >ファイルアップロードについて</p>
                  <img th:src="@{/images/arrowbottom_icon.png}" alt="">
                </div>
                <div class="howto_content">
                  <p>よく使うデザインパーツをアップロードして、いつでも使えるようにしておきましょう。</p>
                  <p>①パーツ種別を選択</p>
                  <img th:src="@{/images/about_upload_part.png}" alt="">
                  <p>②HTMLコードを入力</p>
                  <p>※javascriptや外部サイトへのリンクは入力できないようになっております。</p>
                  <img th:src="@{/images/about_upload_html.png}" alt="">
                  <p>③CSSコードを入力</p>
                  <img th:src="@{/images/about_upload_css.png}" alt="">
                </div>
              </div>
              <div class="howto_btn">
                <div class="howto_title" id="howto_contact_toggle">
                  <p>CONTACT</p>
                  <img th:src="@{/images/arrowbottom_icon.png}" alt="">
                </div>
                <div class="howto_content">
                  <div class="snsicon">
                    <a href="https://www.instagram.com/kenta_webdesigner/">
                      <img th:src="@{/images/instagram_icon.png}" alt="">
                    </a>
                    <a href="https://twitter.com/kenta8721">
                      <img th:src="@{/images/twitter_icon.png}" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="copyright_wrapper">
            <p>©&nbsp;2021&nbsp;k-nakai</p>
          </div>
        </div>

        <!-- お気に入り -->
        <div class="main_content" sec:authorize="hasRole('USER')">
          <div class="typenameTitle">
            <h2>Favorite</h2>
          </div>
          <div th:each="favoriteMapObj:${favoriteMap}">
            <div class="content_frame_for" th:each="codepartobj:${favoriteMapObj.value}">
              <div class="content_frame_wrapper">
                <div class="content_frame">
                  <!-- タブヘッダー -->
                  <div class="content_header">
                    <div class="option_btn">
                      <div class="download_btn">
                        <form th:action="@{/download}" method="post">
                          <input type="hidden" name="codehtml" th:value="${codepartobj.value[0]}">
                          <input type="hidden" name="codecss" th:value="${codepartobj.value[1]}">
                          <input type="image" th:src=@{/images/download_icon.png}>
                        </form>
                      </div>
                      <div class="favorite_btn" sec:authorize="hasRole('USER')">
                        <form th:action="@{/favorite}" method="post">
                          <input type="hidden" name="postid" th:value="${codepartobj.key}">
                          <input type="hidden" name="accountid" th:value="${accountid}">
                          <th:block th:if="${favoriteList.contains(codepartobj.key)}">
                            <input type="image" src="./images/star_ok_icon.png">
                          </th:block>
                          <th:block th:unless="${favoriteList.contains(codepartobj.key)}">
                            <input type="image" src="./images/star_no_icon.png">
                          </th:block>
                        </form>
                      </div>
                    </div>
                    <!-- タブメニュー -->
                    <label class="tab_menu active">View</label>
                    <label class="tab_menu">HTML</label>
                    <label class="tab_menu">CSS</label>
                  </div>
                  <div class="content_space">
                    <!-- VIEWタブ -->
                    <div class="content_area show content_view">
                      <iframe th:srcdoc="@{${codepartobj.value[2]}}" frameborder="0" sandbox></iframe>
                    </div>
                    <!-- HTMLタブ -->
                    <div class="content_area content_html">
                      <pre><code class="html" th:text="${codepartobj.value[0]}"></code></pre>
                    </div>
                    <!-- CSSタブ -->
                    <div class="content_area content_css">
                      <pre><code class="css" th:text="${codepartobj.value[1]}"></code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 各パーツコンテンツ -->
        <div class="main_content" th:each="initMapObj:${initMap}">
          <th:block th:if="${initMapObj.value != null}">
          <div th:each="contentobj:${typedbList}">
          <th:block th:if="${initMapObj.key == contentobj.typeid}">
            <div class="typenameTitle">
              <h2 th:text="${contentobj.typename}"></h2>
            </div>
          </th:block>
          </div>
          <div class="content_frame_for" th:each="codepartobj:${initMapObj.value}">
            <div class="content_frame_wrapper">
              <div class="content_frame">
                <!-- タブヘッダー -->
                <div class="content_header">
                  <div class="option_btn">
                    <div class="download_btn">
                      <form th:action="@{/download}" method="post">
                        <input type="hidden" name="codehtml" th:value="${codepartobj.value[0]}">
                        <input type="hidden" name="codecss" th:value="${codepartobj.value[1]}">
                        <input type="image" th:src=@{/images/download_icon.png}>
                      </form>
                    </div>
                    <div class="favorite_btn" sec:authorize="hasRole('USER')">
                      <form th:action="@{/favorite}" method="post">
                        <input type="hidden" name="postid" th:value="${codepartobj.key}">
                        <input type="hidden" name="accountid" th:value="${accountid}">
                        <th:block th:if="${favoriteList.contains(codepartobj.key)}">
                          <input type="image" src="./images/star_ok_icon.png">
                        </th:block>
                        <th:block th:unless="${favoriteList.contains(codepartobj.key)}">
                          <input type="image" src="./images/star_no_icon.png">
                        </th:block>
                      </form>
                    </div>
                  </div>
                  <!-- タブメニュー -->
                  <label class="tab_menu active">View</label>
                  <label class="tab_menu">HTML</label>
                  <label class="tab_menu">CSS</label>
                </div>
                <div class="content_space">
                  <!-- VIEWタブ -->
                  <div class="content_area show content_view">
                    <iframe th:srcdoc="@{${codepartobj.value[2]}}" frameborder="0" sandbox></iframe>
                  </div>
                  <!-- HTMLタブ -->
                  <div class="content_area content_html">
                    <pre><code class="html" th:text="${codepartobj.value[0]}"></code></pre>
                  </div>
                  <!-- CSSタブ -->
                  <div class="content_area content_css">
                    <pre><code class="css" th:text="${codepartobj.value[1]}"></code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </th:block>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
