<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common::headflagment">
</head>
<body>
  <header th:replace="common::headerflagment">
  </header>
  <main>
    <div class="login_wrapper">
      <div class="login_title">
        <h2>FrontCode</h2>
      </div>
      <div class="login_form">
        <form class="form-signin" th:action="@{/login}" method="post">
          <div th:if="${showErrorMsg}" class="alert alert-danger" role="alert" th:text="${errorMsg}">
          </div>
          <div th:if="${showLogoutedMsg}" class="alert alert-success" role="alert" th:text="#{demo.login.logouted}">
          </div>
          <div class="login_input">
            <input type="text" id="username" name="username" placeholder="USERNAME" required autofocus>
            <input type="password" id="password" name="password" placeholder="PASSWORD" required>
          </div>
          <button class="btn " type="submit">
            <img th:src="@{/images/login_icon.png}" alt="">
            <p>Login</p>
          </button>
        </form>
        <a class="createaccount" th:href="@{/createAccount}">
          <p>アカウント作成</p>
        </a>
      </div>
    </div>
  </main>
</body>
</html>
