<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common::headflagment">
</head>
<body>
  <header th:replace="common::headerflagment">
  </header>
  <main>
    <div class="content_wrapper">
      <input id="nav_check" type="checkbox">
      <div class="sidebar">
        <!------------------------------------->
        <!-- サイドバー -->
        <!------------------------------------->
        <!-------------------------------->
        <!-- for文 -->
        <!-------------------------------->
        <!-- アプリケーション説明ページ -->
        <label class="side_menu side_active">
          <div class="side_menu_text">
            <p>HOW TO</p>
            <p>使い方</p>
          </div>
          <img th:src="@{/images/arrow_right.png}" alt="">
        </label>
        <div class="side_menu_for" th:each="sideobj:${typedbList}">
          <label class="side_menu">
            <div class="side_menu_text">
              <p th:text="${sideobj.typename}"></p>
              <p th:text="${sideobj.typenamejp}"></p>
            </div>
            <img th:src="@{/images/arrow_right.png}" alt="">
          </label>
        </div>
      </div>
      <div class="main_content_wrapper">
        <!-------------------------------->
        <!-- for文 -->
        <!-------------------------------->
        <div class="main_content main_show">
          <div class="addItems_title">
            <h2>HOW TO</h2>
          </div>
        </div>

        <!-------------------------------->
        <!-- for文 -->
        <!-------------------------------->
        <!-- Map<Integer,Map<Integer,List<String>>> -->
        <div class="main_content" th:each="codemapallobj:${initMap}">
          <!-------------------------------->
          <!-- for文 -->
          <!-------------------------------->
          <th:block th:if="${codemapallobj.value != null}">
          <div th:each="contentobj:${typedbList}">
          <th:block th:if="${codemapallobj.key == contentobj.typeid}">
            <div class="typenameTitle">
              <h2 th:text="${contentobj.typename}"></h2>
            </div>
          </th:block>
          </div>
          <div class="content_frame_for" th:each="codepartobj:${codemapallobj.value}">
            <div class="content_frame_wrapper">
              <p th:text="${codeobj}"></p>
              <div class="content_frame">
                <!-- タブヘッダー -->
                <div class="content_header">
                  <a class="deleteFormImg" th:href="@{/admin/postDetail/{postid}(postid=${codepartobj.value[3]})}">
                    <div class="deleteForm">
                      <img th:src="@{/images/dust_icon.png}" alt="">
                    </div>
                  </a>
                  <!-- タブメニュー -->
                  <label class="tab_menu active">View</label>
                  <label class="tab_menu">HTML</label>
                  <label class="tab_menu">CSS</label>
                </div>
                <div class="content_space">
                  <!-- VIEWタブ -->
                  <div class="content_area show content_view">
                    <iframe th:srcdoc="@{${codepartobj.value[2]}}" frameborder="0" sandbox></iframe>
                  </div>
                  <!-- HTMLタブ -->
                  <div class="content_area content_html">
                    <pre><code class="html" th:text="${codepartobj.value[0]}"></code></pre>
                  </div>
                  <!-- CSSタブ -->
                  <div class="content_area content_css">
                    <pre><code class="css" th:text="${codepartobj.value[1]}"></code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </th:block>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
