<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common::headflagment">
</head>
<body>
  <header th:replace="common::headerflagment">
  </header>
  <main>
    <div class="codeCheck_wrapper" >
      <div class="codeCheck_title">
        <h2>UPLOAD</h2>
      </div>
      <div class="codeCheck_view">
        <p>VIEW</p>
        <div class="codeCheck_design">
          <iframe th:srcdoc="@{${iframeCode}}" frameborder="0" sandbox></iframe>
        </div>
      </div>
      <div class="codeCheck_select">
        <p>TYPE</p>
        <p th:text="${selecType}">Button</p>
      </div>
      <div class="codeCheck_html">
        <p>HTML</p>
        <pre><code class="html" th:text="${inputHtml}"></code></pre>
      </div>
      <div class="codeCheck_css">
        <p>CSS</p>
        <pre><code class="css" th:text="${inputCss}"></code></pre>
      </div>
    </div>
    <div class="codeCheck_form">
      <form method="post" th:action="@{/save}" th:object="${uploadForm}">
        <div class="codeCheck_hidden">
          <input name="postidForRegist" type="hidden" th:value="${postid}">
          <input type="hidden" th:field="*{htmlInputText}">
          <input type="hidden" th:field="*{cssInputText}">
        </div>
        <button class="btn codeCheck_submit" type="submit">
          <img th:src="@{/images/send_icon.png}" alt="">
          <p>Send!</p>
        </button>
      </form>
      <form method="post" th:action="@{/cancel}">
        <input id="postidForDelete" name="postidForDelete" type="hidden" th:value="${postid}">
        <button class="btn codeCheck_back" type="submit">
          <img th:src="@{/images/back_icon.png}" alt="">
          <p>Back!</p>
        </button>
      </form>
    </div>
  </main>
</body>
</html>
