<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <title>フロントコード</title>
  <!-- シンタックスハイライトのテーマは以下URLを確認
      https://highlightjs.org/static/demo/
 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/atom-one-dark.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
  <header>
    <div class="logo">
      <a th:href="@{/}">
        <img th:src="@{/images/home.png}" alt="home">
      </a>
      <a th:href="@{/login}" sec:authorize="isAnonymous()">
          <img th:src="@{/images/login_icon.png}" alt="home">
      </a>
      <form role="form" id="logout" th:action="@{/logout}" method="post" sec:authorize="hasAnyRole('ADMIN','USER')">
	    <input type="image" th:src="@{/images/logout_icon.png}" />
      </form>
      <a th:href="@{/admin}" sec:authorize="hasRole('ADMIN')">
          <img th:src="@{/images/setting_icon.png}" alt="home">
      </a>
    </div>
  </header>
  <main>
    <div class="autho_wrapper">
      <div class="autho_title">
        <h2>Management</h2>
      </div>
      <form class="manageListForm" method="post" th:action="@{/admin/filter}">
        <div class="manageList_typeSelect">
          <img th:src="@{/images/click_icon.png}" alt="">
          <select name="item_type">
            <option value="0">All</option>
            <option th:each="typedboption:${typedbList}" th:value="${typedboption.typeid}" th:text="${typedboption.typenamejp}"></option>
          </select>
        </div>
        <button type="submit">Filter</button>
      </form>
      <div class="autho_list">
        <div class="btnToDetail_wrapper" th:each="postDataObj : ${postDataList}">
          <a th:href="@{/admin/unapprovedDetail/{postid}(postid=${postDataObj[2]})}" class="btnToDetail">
            <img th:src="@{/images/file_icon.png}" alt="">
            <div class="autho_text">
              <p th:text="${postDataObj[0]}"></p>
              <p th:text="${postDataObj[1]}"></p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
