<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common::headflagment">
</head>
<body>
  <header th:replace="common::headerflagment">
  </header>
  <main>
    <div class="autho_wrapper">
      <div class="autho_title">
        <h2>Management</h2>
      </div>
      <form class="manageListForm" method="post" th:action="@{/admin/filter}">
        <div class="manageList_typeSelect">
          <img th:src="@{/images/click_icon.png}" alt="">
          <select name="item_type">
            <option value="0">All</option>
            <option th:each="typedboption:${typedbList}" th:value="${typedboption.typeid}" th:text="${typedboption.typenamejp}"></option>
          </select>
        </div>
        <button type="submit">Filter</button>
      </form>
      <div class="autho_list">
        <div class="btnToDetail_wrapper" th:each="postDataObj : ${postDataList}">
          <a th:href="@{/admin/unapprovedDetail/{postid}(postid=${postDataObj[2]})}" class="btnToDetail">
            <img th:src="@{/images/file_icon.png}" alt="">
            <div class="autho_text">
              <p th:text="${postDataObj[0]}"></p>
              <p th:text="${postDataObj[1]}"></p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
