<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <title>フロントコード</title>
  <!-- シンタックスハイライトのテーマは以下URLを確認
      https://highlightjs.org/static/demo/
 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/atom-one-dark.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
  <header>
    <div class="logo">
      <a th:href="@{/}">
        <img th:src="@{/images/home.png}" alt="home">
      </a>
      <a th:href="@{/login}" sec:authorize="isAnonymous()">
          <img th:src="@{/images/login_icon.png}" alt="home">
      </a>
      <form role="form" id="logout" th:action="@{/logout}" method="post" sec:authorize="hasAnyRole('ADMIN','USER')">
	    <input type="image" th:src="@{/images/logout_icon.png}" />
      </form>
      <a th:href="@{/admin}" sec:authorize="hasRole('ADMIN')">
          <img th:src="@{/images/setting_icon.png}" alt="home">
      </a>
    </div>
  </header>
  <main>
    <div class="manage_wrapper">
      <div class="manage_title">
        <h2>Management</h2>
      </div>
      <div class="manage_view">
        <p>VIEW</p>
        <div class="manage_frame">
          <iframe th:src="@{/{htmlLink}(htmlLink=${htmllink})}" frameborder="0"></iframe>
        </div>
      </div>
      <div class="manage_select">
        <p>TYPE</p>
        <p th:text="${typename}"></p>
      </div>
      <div class="manage_html">
        <p>HTML</p>
        <pre><code class="html" th:text="${htmlsrc}"></code></pre>
      </div>
      <div class="manage_css">
        <p>CSS</p>
        <pre><code class="css" th:text="${csssrc}"></code></pre>
      </div>
    </div>
    <div class="manage_form">
      <form method="post" th:action="@{/admin/regist}">
        <input name="postidForRegist" type="hidden" th:value="${postid}">
        <button class="btn manage_btn" type="submit">
          <img th:src="@{/images/ok_icon.png}" alt="">
          <p>Register!</p>
        </button>
      </form>
      <form method="post" th:action="@{/admin/reject}">
        <input name="postidForDelete" type="hidden" th:value="${postid}">
        <button class="btn manage_btn">
          <img th:src="@{/images/dust_icon.png}" alt="">
          <p>Rejected!</p>
        </button>
      </form>
    </div>
  </main>
</body>
</html>
