<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common::headflagment">
</head>
<body>
  <header th:replace="common::headerflagment">
  </header>
  <main>
    <div class="manage_wrapper">
      <div class="manage_title">
        <h2>Management</h2>
      </div>
      <div class="manage_view">
        <p>VIEW</p>
        <div class="manage_frame">
          <iframe th:srcdoc="@{${iframeData}}" frameborder="0" sandbox></iframe>
        </div>
      </div>
      <div class="manage_select">
        <p>TYPE</p>
        <p th:text="${typename}"></p>
      </div>
      <div class="manage_html">
        <p>HTML</p>
        <pre><code class="html" th:text="${htmlsrc}"></code></pre>
      </div>
      <div class="manage_css">
        <p>CSS</p>
        <pre><code class="css" th:text="${csssrc}"></code></pre>
      </div>
    </div>
    <div class="manage_form">
      <form method="post" th:action="@{/admin/regist}">
        <input name="postidForRegist" type="hidden" th:value="${postid}">
        <button class="btn manage_btn" type="submit">
          <img th:src="@{/images/ok_icon.png}" alt="">
          <p>Register!</p>
        </button>
      </form>
      <form method="post" th:action="@{/admin/reject}">
        <input name="postidForDelete" type="hidden" th:value="${postid}">
        <button class="btn manage_btn">
          <img th:src="@{/images/dust_icon.png}" alt="">
          <p>Rejected!</p>
        </button>
      </form>
    </div>
  </main>
</body>
</html>
