<configuration>
    <!-- コンソール出力 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{10} %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 以下を追加する。ファイル出力 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- fileでログファイル名の指定 -->
        <file>./log/application.log</file>
        <!-- rollingPolicy はファイルの切り替えに伴う移動や名前の変更を行う -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 切り替えるときのログファイル名の指定 -->
            <fileNamePattern>./log/%d{yyyyMM,aux}/application-%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <!-- encoderのpatternで出力内容を定義 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level%X{sessionId}\(%file:%line\) - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- ここまで追加 -->
   	<!-- どのパッケージをどのレベルで出力するかを設定 -->
    <logger name="error" level="debug" />
    <logger name="com.front" level="debug" />
    <logger name="com.front.controller" level="debug" />
    <logger name="com.front.service" level="debug" />
    <logger name="com.front.schedule" level="debug" />

    <root level="OFF">
        <!-- コンソールへ出力 -->
        <appender-ref ref="STDOUT" />

        <!-- 以下を追加する。 ファイルへ出力 -->
        <appender-ref ref="FILE" />
        <!-- ここまで追加 -->
    </root>
</configuration>